.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

.left {
  height: 100%;
  grid-column: 1/4;
  padding: 1rem;
}

.right {
  height: 100%;
}

.description,
.chat {
  border: 1px solid black;
  margin-top: 3rem;
  padding: .3rem;
}

.btn {
  width: calc(100% / 3);
  height: 2.5rem;
}

.largeBtn {
  width: 100%;
  height: 2.5rem;
}

.input {
  height: 2.5rem;
  width: calc(100% - 20%);
}

.input:focus {
  outline: 1px solid cyan;
}

.inputBtn {
  width: 20%;
  height: 2.5rem
}

.margin {
  margin: 1.5rem 0;
}

.chat {
  /* height: ; */
}

.canvas {
  width: 100%;
  height: 85%;
}