* {
    font-family: 'Stick No Bills', sans-serif;
    background-color: whitesmoke;
}

.homepage-div {
    width: 100%;
}

.navbar-element {
    width: 100%;
    text-align: center;
}

.navbar-container-element {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}
.navbar-brand-element {
    text-align: center;
}
.navbar-logo {
    margin-right: 5px;
}

.homepage-body-container {
    border: 1px solid black;
    height: 800px;
}

.carousel-title {
    color: black;
}

